main{
    margin-left: auto;
    margin-right: auto;
    padding-top: 15rem;
}

main p{
    padding: 1rem;
    text-align: center;
}

a.currentlink,
a.currentlink:hover{
    color: #ff0000;
    font-weight: bold;
}

.weight{
    font-weight: bold;
}

main img{
    width: 50px;
}

@media (min-width: 600px) and (max-width: 1024px)
{
    main{
        width: 40rem;
        font-size: 2rem;
        padding-bottom: 4rem;
    }
}

@media (min-width: 1024px)
{
    main{
        width: 80rem;
        font-size: 3rem;
        padding-bottom: 5rem;
    }
}